<!-- Toolbar -->
<div class="toolbar" role="banner">
    <h3>{{title}}</h3>
</div>

<div class="content" role="main">
    <p>Characters</p>
    <ul *ngFor="let character of characters">
        <li><a (click)="selectCharacter(character)"><h4>{{ character.name }}</h4></a></li>
    </ul>
    <br>
    <label>Add character: </label>
    <input type="text" [(ngModel)]="newCharacterName">
    <button (click)="createCharacter()">+</button>
    <input type="file" (change)="uploadCharacterFile($event)">
    <br>
    <hr>
    <br>
    <app-character *ngIf="selectedCharacter" [character]="selectedCharacter"></app-character>

</div>

<router-outlet></router-outlet>
