<div class="character-list">
    <div>
        <button (click)="exportCharacter()">Export</button>
        <a *ngIf="characterDownloadUri" class="btn" title="Download JSON" [href]="characterDownloadUri" [download]="character.name + '.json'">Download</a>

    </div>
    <div>
        <label>Name: </label>
        <input type="text" [(ngModel)]="character.name">
    </div>
    <br>
    <app-base-attributes [baseAttributes]="character.baseAttributes"></app-base-attributes>
    <br>
    <app-combat-attributes [character]="character"></app-combat-attributes> 
    <div>
        <label>Character damage: </label>
        <input type="number" min="0" [(ngModel)]="character.damage">
    </div>
</div>
