<div class="character-list">
    <label>Name: </label>
    <input type="text" [(ngModel)]="character.name">
    <br>
    <label>Base Attributes: </label>
    <div *ngFor="let attribute of baseAttributes">
        <label>{{ attribute.type }}: </label>
        <input type="number" [(ngModel)]="attribute.value">
        <select (change)="addSkill($event, attribute)">
            <option value=""></option>
            <option *ngFor="let skillType of getSkillTypesForBaseAttribute(attribute.type)" [value]="skillType">{{ skillType }}</option>
        </select>
        <br>
        <label>Skills: </label>
        <div *ngFor="let skill of getBaseAttributeSkills(attribute.type)">
            <label>{{ skill.type }}: </label>
            <input type="number" max="{{ attribute.value }}" [(ngModel)]="skill.rank">
    </div>
</div>
